/* Affichage desktop */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #f1f1f1;
}
#child-heros {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(66, 174, 198);
  padding: 0px 30px;
  margin: 40px;
}
.heros {
  display: flex;
  align-items: center;
}
#img-bg1 {
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.card-img-top {
  width: 100%;
  height: 300px;
  background-color: rgb(224, 221, 221);
}
#card {
  padding: 0;
}
#reduction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
#img-bg2 {
  max-width: 100%;
  max-height: 212%;
  margin-bottom: 114px;
}
.card-title {
  margin-bottom: 10px;
}
#form {
  margin-left: 80px;
  padding-top: 0;
}
#img-bg3 {
  width: 67%;
  height: 382px;
  margin-top: 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Affichage mobile */
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
  #text-reduction {
    font-size: 17px !important;
  }
  #img-bg3 {
    display: none;
  }
  #img-bg1 {
    display: none;
  }
  #img-bg2 {
    display: none;
  }
  #reduction {
    padding: 15px;
    text-align: center;
  }
  #child-heros {
    height: auto;
    padding: 20px 30px;
    margin: 55px 40px 20px 40px;
  }
  #form {
    margin: 20px;
  }
  #casque {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .col-md-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
